.ul {
  margin-bottom: 30px;
  background-color: green;
  border: solid red 2px;
}
.li {
  font-weight: 350;
  height: 220px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.li {
  list-style: none;
}
